@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.main {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	align-items: center;
	font-family: "Quicksand";
}

.bg {
	height: 35vh;
	margin: 5em 0;
}

.linkJoma {
	text-decoration: underline;
}

.desc {
	width: 35%;
	text-align: center;
	font-size: 18px;
}

.btn {
	font-family: "Fredoka One", cursive;
	color: #fff;
	font-size: 35px;
	outline: none;
	border: none;
	cursor: pointer;
	background-color: #333;
	padding: 0.25em 2.5em;
	border-radius: 10px;
	margin: 1em 0;
}

.btnWrapper {
	display: flex;
	gap: 1em;
}

.social {
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 600;
	gap: 0.5em;
	cursor: pointer;
}

.photo {
	height: 60vh;
	width: 60vh;
	position: relative;
	margin: 5em;
	border-radius: 25px;
}

.footer {
	padding: 2.5em 0;
}

.divider {
	margin-top: 5em;
	transform: scale(0.9);
}

@media (max-width: 1279px) {
	.desc {
		width: 80%;
	}

	.divider {
		display: none;
	}
	.photo {
		height: 30vh;
		width: 30vh;
	}
	.bg {
		height: 15vh;
		margin: 5em 0;
	}

	.btn {
		font-size: 21px;
		margin: 2em 0;
		padding: 1em 2em;
	}
}

@media (max-width: 489px) {
	.photo {
		height: 20vh;
		width: 20vh;
	}

	.btnWrapper {
		display: flex;
		flex-direction: column;
		gap: 2em;
	}
}
